<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  <servlet>
  	<servlet-name>patient_login</servlet-name>
  	<servlet-class>com.YourDoctor.PatientLogin</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>patient_login</servlet-name>
  	<url-pattern>/patient</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>admin_login</servlet-name>
  	<servlet-class>com.YourDoctor.AdminLogin</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>admin_login</servlet-name>
  	<url-pattern>/admin</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>doctor_login</servlet-name>
  	<servlet-class>com.YourDoctor.DoctorLogin</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>doctor_login</servlet-name>
  	<url-pattern>/doctor</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>user_signup</servlet-name>
  	<servlet-class>com.YourDoctor.UserVerify</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>user_signup</servlet-name>
  	<url-pattern>/patient_signup</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>doctor_signup</servlet-name>
  	<servlet-class>com.YourDoctor.DoctorVerify</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>doctor_signup</servlet-name>
  	<url-pattern>/doctor_signup</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>admin_signup</servlet-name>
  	<servlet-class>com.YourDoctor.AdminVerify</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>admin_signup</servlet-name>
  	<url-pattern>/admin_signup</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>app</servlet-name>
  	<servlet-class>com.YourDoctor.Appointment</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>app</servlet-name>
  	<url-pattern>/appointment</url-pattern>
  </servlet-mapping>
  
  
  
    
</web-app>